language: python
python:
  - "3.5"
  - "3.6"

before_install:
  # http://conda.pydata.org/docs/travis.html
  - travis_retry sudo apt-get update
  - travis_retry wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

cache:
  directories:
    - $HOME/.cache/pip

install:
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy astropy
  - source activate test-environment
  - travis_retry pip install pyastronomy

  - travis_retry pip install -r requirements.txt
  - travis_retry pip install pytest-cov python-coveralls codeclimate-test-reporter codacy-coverage

  - python setup.py install

script:
  - pytest --cov=spectrum_overload --cov-report term-missing --durations 10 -W error
  - coverage xml

after_success:
  - coveralls
  - codeclimate-test-reporter
  - python-codacy-coverage -r coverage.xml
